<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/img/id-card.png">
        <title>About Page</title>
            <link rel="stylesheet" href="/css/styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@300;700&display=swap" rel="stylesheet">

    </head>
        <body>
            <div class="main-content">
            {{>header}}
            <img src="/img/IMG_20201003_185133_673.jpg">
            </div>
            {{>footer}}

        </bdoy>
    </html> 