<!DOCTYPE html>
<html>
<head>
    <title>Help Page</title>
        <link rel="icon" href="\img\help.png">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@300;700&display=swap" rel="stylesheet">

</head>
<body>
    <div class="main-content">
    {{>header}}  <!-- Includes the header partial correctly -->
    <p>{{message}}</p>
    </div>
    {{>footer}}

</body>
</html>
